<div class="div-featured" routerLink="">
  <div class="left">
    <h1>{{ post_title }}</h1>
    <p>{{ findPostByTitle(post_title).date }}, Berke Filiz</p>
  </div>
  <div class="right">
    <p>&lt;</p>
  </div>
</div>

<div class="div-post-content">
  <p>
    Welcome again! This post is designed to test some styling elements. Those
    elements include large headers, small headers, links and lists. I would love
    to share something right now, however the backend of this website is not
    ready yet. For now, enjoy some music! The song is called
    <a href="https://www.youtube.com/watch?v=UvrLV3MqOIw" target="blank_"
      ><span>Objets de Vertu</span></a
    >
    (Objects of Virtue) and it features two bass guitars!
  </p>
  <br />
  <h1>What a large title</h1>
  <h2>And a smaller one</h2>
  <p>
    I do not know how to fill this in. I do not like using Lorem Ipsum; I think
    it is more fun to improvise a meaningless paragraph when testing is needed.
    It is indeed time consuming but oh well, roses are spiky!
  </p>
  <h2>Yet another one</h2>
  <p>
    These titles are going out of hand! Someone stop them! Here are some things
    you can do to stop the titles from overtaking this page:
  </p>
  <ul>
    <li>&#9744; Move away from the page, do not take the attention on you.</li>
    <li>&#9744; Make sure you are not being followed.</li>
    <li>&#9744; Do NOT make a sound and keep calm.</li>
    <li>
      &#9744; Get to a safe location and call the authorities. Stay in position
      until the situation is handeled by professionals.
    </li>
  </ul>
  <br />
  <p>That's it! I hope this tutorial was helpful for some of you!</p>
  <h2>Some actual content</h2>
  <p>
    As you can see, I am actually experimenting with the designs. I am trying to
    keeo everything simple and clean. Should you have any suggestions, please
    contact to the owner of the page.
  </p>
</div>
