<div class="div-content-header">
  <div class="title">
    <h1>{{ post_title }}</h1>
  </div>
  <div
    class="div-button"
    matTooltip="{{ findPostByTitle(post_title).date }}"
    [matTooltipPosition]="'before'"
    *ngIf="post_title != 'Post not found!'"
  >
    <div class="button">
      <fa-icon class="icon" [icon]="faAsterisk"></fa-icon>
    </div>
  </div>
  <div
    class="div-button"
    *ngIf="post_title != 'Post not found!'"
    (click)="copyLink()"
  >
    <div class="button">
      <fa-icon class="icon" [icon]="faShareNodes"></fa-icon>
      <p [ngStyle]="{opacity: (copied ? 1 : 0)}">Link copied!</p>
    </div>
  </div>
  <div class="div-button" routerLink="">
    <div class="button">
      <fa-icon class="icon" [icon]="faBackward"></fa-icon>
    </div>
  </div>
</div>
<div
  class="div-post-content"
  [innerHtml]="TEXTS[findPostByTitle(post_title).id]"
></div>
