<div class="div-content-header">
  <div class="title">
    <h1>{{ POST[1] }}</h1>
  </div>
  <div
    class="div-button"
    matTooltip="{{ POST[0] }}"
    #tooltip="matTooltip"
    [matTooltipPosition]="'before'"
    (click)="tooltip.show()"
    *ngIf="POST[1] != 'Post not found!'"
  >
    <div class="button">
      <fa-icon class="icon" [icon]="faAsterisk"></fa-icon>
    </div>
  </div>
  <div
    class="div-button"
    *ngIf="POST[1] != 'Post not found!'"
    (click)="copyLink()"
  >
    <div class="button">
      <fa-icon class="icon" [icon]="faShareNodes"></fa-icon>
      <p [ngStyle]="{ opacity: copied ? 1 : 0 }">Link copied!</p>
    </div>
  </div>
  <div class="div-button" routerLink="">
    <div class="button">
      <fa-icon class="icon" [icon]="faBackward"></fa-icon>
    </div>
  </div>
</div>
<div
  class="div-post-content"
  [innerHtml]="POST[3]"
></div>
