<div class="div-featured" (click)="refreshPage()">
  <div class="left">
    <h1>Welcome</h1>
    <p>
      The blog is under construction! Please report any issues that you find!
    </p>
  </div>
  <div class="right">
    <p> <fa-icon class="icon" [icon]="faRefresh"></fa-icon></p>
  </div>
</div>
<br />
<div class="div-posts-title">
  <div class="div-post-title">
    <div class="date">DATE</div>
    <div class="name">NAME</div>
    <div class="tags">TAGS</div>
  </div>
</div>
<div class="div-posts">
  <mat-progress-bar 
    mode="indeterminate"
    *ngIf="POSTS.length < 1"
    style="width: 100%;">
  </mat-progress-bar>
  <div
    *ngFor="let post of POSTS.slice(1)"
    [routerLink]="['/post']"
    [queryParams]="{ title: make_url(post[1]) }"
    class="div-post"
  >
    <div class="date">{{ post[0] }}</div>
    <div class="name">{{ post[1] }}</div>
    <div class="tags">{{ make_taglist(post[2]) }}</div>
  </div>
</div>