<div class="div-featured">
  <div class="left">
    <h1>Welcome</h1>
    <p>
      Including this welcome page, this page is under construction. When it's
      done, it will be my blog!
    </p>
  </div>
  <div class="right">
    <p>></p>
  </div>
</div>
<br />
<div class="div-posts-title">
  <div class="div-post-title">
    <div class="date">DATE</div>
    <div class="name">NAME</div>
    <div class="tags">TAGS</div>
  </div>
</div>
<div class="div-posts">
  <div
    *ngFor="let post of POSTS"
    [routerLink]="['/post']"
    [queryParams]="{ title: make_url(post.name) }"
    class="div-post"
  >
    <div class="date">{{ post.date }}</div>
    <div class="name">{{ post.name }}</div>
    <div class="tags">{{ make_taglist(post.tags) }}</div>
  </div>
</div>
