* {
  user-select: none;
  margin: 0px;
  padding: 0px;
}

p {
  color: #c8c3bc;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 16px;
}

#div-main {
  display: flex;
  flex-direction: row;
  padding: 28px 50px;
  transition: padding 0.2s ease-in-out;
  height: calc(100vh - 100px);
  overflow-y: hidden;
}

.div-spacer {
  flex: 0.5;
}

#div-content {
  width: 800px;
  height: 50px;
}

#div-header {
  transition: all 0.1s ease-in-out;
  h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic,
      sans-serif;
    font-size: 30px;
    color: #c8c3bc;
    padding-bottom: 16px;
  }
}

.div-featured {
  background-color: #222426;
  padding: 40px;
  display: flex;
  flex-direction: row;
  line-height: 30px;
  cursor: pointer;
  h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic,
      sans-serif;
    font-size: 26px;
    user-select: none;
    color: #a8a095;
    padding-bottom: 6px;
  }
  .right {
    width: 70px;
    p {
      transition: all 0.4s ease-in-out;
      color: #222426;
      font-size: 100px;
      transform: rotate(90deg);
      margin-top: 50%;
    }
  }
  .left {
    flex: 1;
    p {
      transition: all 0.4s ease-in-out;
      width: calc(100% - 50px);
    }
  }
}

.div-featured:hover {
  .right {
    p {
      color: #383838;
      transform: rotate(0);
      margin-top: 50%;
    }
  }
}

.div-posts,
.div-posts-title {
  .div-post,
  .div-post-title {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #a8a095;
    padding-top: 16px;
    border-bottom: 1px solid #333;
    .date {
      width: 100px;
      padding-left: 40px;
      padding-bottom: 16px;
      transition: font-size 0.1s ease-in-out;
    }
    .name {
      flex: 1;
      transition: font-size 0.1s ease-in-out;
    }
    .tags {
      width: 150px;
      text-align: right;
      padding-right: 40px;
    }
  }
  .div-post {
    cursor: pointer;
  }

  .div-post:hover {
    background-color: rgb(255, 255, 255, 0.02);
  }
}
.div-posts {
  height: 60vh;
  overflow-y: auto;
}

@media screen and (max-width: 800px) {
  .div-featured {
    .right {
      display: none;
    }
    .left {
      p {
        width: 100%;
      }
    }
  }

  .div-post,
  .div-post-title {
    .tags {
      display: none;
    }
  }

  #div-main {
    padding: 10px 0;
  }

  #div-header {
    padding-left: 40px;
    h1 {
      font-size: 20px;
      padding: 0;
    }
  }

  .div-featured:hover {
    background-color: #222426bb;
  }
}

// Background

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
